<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ground00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{1440,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,59}}</string>
                <key>sourceSize</key>
                <string>{1440,59}</string>
            </dict>
            <key>Map00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1440,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,320}}</string>
                <key>sourceSize</key>
                <string>{1440,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map1.png</string>
            <key>size</key>
            <string>{1440,379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0af60c902831a78e04794390f7935df$</string>
            <key>textureFileName</key>
            <string>map1.png</string>
        </dict>
    </dict>
</plist>
