<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>guessName</key>
		<array>
			<string>A</string>
			<string>E</string>
			<string>Q</string>
			<string>R</string>
			<string>L</string>
			<string>V</string>
			<string>N</string>
			<string>P</string>
			<string>M</string>
			<string>P</string>
			<string>K</string>
			<string>I</string>
			<string>P</string>
			<string>B</string>
			<string>X</string>
			<string>G</string>
			<string>S</string>
			<string>L</string>
		</array>
		<key>imgFile</key>
		<string>APPLE.jpg</string>
		<key>imgName</key>
		<array>
			<string>A</string>
			<string>P</string>
			<string>P</string>
			<string>L</string>
			<string>E</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>B</string>
			<string>S</string>
			<string>A</string>
			<string>L</string>
			<string>Q</string>
			<string>M</string>
			<string>N</string>
			<string>E</string>
			<string>T</string>
			<string>B</string>
			<string>J</string>
			<string>L</string>
			<string>P</string>
			<string>K</string>
			<string>L</string>
			<string>A</string>
			<string>C</string>
			<string>X</string>
		</array>
		<key>imgFile</key>
		<string>BASKETBALL.jpg</string>
		<key>imgName</key>
		<array>
			<string>B</string>
			<string>A</string>
			<string>S</string>
			<string>K</string>
			<string>E</string>
			<string>T</string>
			<string>B</string>
			<string>A</string>
			<string>L</string>
			<string>L</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>B</string>
			<string>C</string>
			<string>S</string>
			<string>H</string>
			<string>E</string>
			<string>U</string>
			<string>A</string>
			<string>O</string>
			<string>M</string>
			<string>N</string>
			<string>I</string>
			<string>P</string>
			<string>L</string>
			<string>D</string>
			<string>K</string>
			<string>T</string>
			<string>S</string>
			<string>X</string>
		</array>
		<key>imgFile</key>
		<string>CANDLE.jpg</string>
		<key>imgName</key>
		<array>
			<string>C</string>
			<string>A</string>
			<string>N</string>
			<string>D</string>
			<string>L</string>
			<string>E</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>I</string>
			<string>D</string>
			<string>L</string>
			<string>A</string>
			<string>T</string>
			<string>E</string>
			<string>M</string>
			<string>G</string>
			<string>S</string>
			<string>K</string>
			<string>P</string>
			<string>J</string>
			<string>B</string>
			<string>R</string>
			<string>N</string>
			<string>Z</string>
			<string>S</string>
			<string>A</string>
		</array>
		<key>imgFile</key>
		<string>GRAPES.jpg</string>
		<key>imgName</key>
		<array>
			<string>G</string>
			<string>R</string>
			<string>A</string>
			<string>P</string>
			<string>E</string>
			<string>S</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>Q</string>
			<string>P</string>
			<string>C</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>E</string>
			<string>C</string>
			<string>L</string>
			<string>O</string>
			<string>E</string>
			<string>X</string>
			<string>J</string>
			<string>N</string>
			<string>H</string>
			<string>L</string>
			<string>L</string>
			<string>S</string>
		</array>
		<key>imgFile</key>
		<string>CELLPHONE.jpg</string>
		<key>imgName</key>
		<array>
			<string>C</string>
			<string>E</string>
			<string>L</string>
			<string>L</string>
			<string>P</string>
			<string>H</string>
			<string>O</string>
			<string>N</string>
			<string>E</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>E</string>
			<string>Q</string>
			<string>P</string>
			<string>O</string>
			<string>N</string>
			<string>M</string>
			<string>C</string>
			<string>Z</string>
			<string>J</string>
			<string>G</string>
			<string>N</string>
			<string>Y</string>
			<string>E</string>
			<string>T</string>
			<string>Z</string>
			<string>T</string>
			<string>G</string>
			<string>C</string>
		</array>
		<key>imgFile</key>
		<string>EGG.jpg</string>
		<key>imgName</key>
		<array>
			<string>E</string>
			<string>G</string>
			<string>G</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>T</string>
			<string>M</string>
			<string>J</string>
			<string>B</string>
			<string>U</string>
			<string>F</string>
			<string>E</string>
			<string>L</string>
			<string>B</string>
			<string>S</string>
			<string>P</string>
			<string>I</string>
			<string>R</string>
			<string>O</string>
			<string>A</string>
			<string>S</string>
			<string>Z</string>
			<string>V</string>
		</array>
		<key>imgFile</key>
		<string>RABBIT.jpg</string>
		<key>imgName</key>
		<array>
			<string>R</string>
			<string>A</string>
			<string>B</string>
			<string>B</string>
			<string>I</string>
			<string>T</string>
		</array>
	</dict>
	<dict>
		<key>guessName</key>
		<array>
			<string>P</string>
			<string>A</string>
			<string>M</string>
			<string>I</string>
			<string>L</string>
			<string>W</string>
			<string>E</string>
			<string>G</string>
			<string>Q</string>
			<string>A</string>
			<string>H</string>
			<string>T</string>
			<string>N</string>
			<string>R</string>
			<string>E</string>
			<string>O</string>
			<string>I</string>
			<string>V</string>
		</array>
		<key>imgFile</key>
		<string>WATERMELON.jpg</string>
		<key>imgName</key>
		<array>
			<string>W</string>
			<string>A</string>
			<string>T</string>
			<string>E</string>
			<string>R</string>
			<string>M</string>
			<string>E</string>
			<string>L</string>
			<string>O</string>
			<string>N</string>
		</array>
	</dict>
</array>
</plist>
