<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>guessName</key>
		<string>AEQRLVNPMPKIPBXGSL</string>
		<key>imgFile</key>
		<string>APPLE.jpg</string>
		<key>imgName</key>
		<string>APPLE</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>BSALQMNETBJLPKLACX</string>
		<key>imgFile</key>
		<string>BASKETBALL.jpg</string>
		<key>imgName</key>
		<string>BASKETBALL</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>BCSHEUAOMNIPLDKTSX</string>
		<key>imgFile</key>
		<string>CANDLE.jpg</string>
		<key>imgName</key>
		<string>CANDLE</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>IDLATEMGSKPJBRNZSA</string>
		<key>imgFile</key>
		<string>GRAPES.jpg</string>
		<key>imgName</key>
		<string>GRAPES</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>QPCMNPECLOEXJNHLLS</string>
		<key>imgFile</key>
		<string>CELLPHONE.jpg</string>
		<key>imgName</key>
		<string>CELLPHONE</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>EQPONMCZJGNYETZTGC</string>
		<key>imgFile</key>
		<string>EGG.jpg</string>
		<key>imgName</key>
		<string>EGG</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>TMJBUFELBSPIROASZV</string>
		<key>imgFile</key>
		<string>RABBIT.jpg</string>
		<key>imgName</key>
		<string>RABBIT</string>
	</dict>
	<dict>
		<key>guessName</key>
		<string>PAMILWEGQAHTNREOIV</string>
		<key>imgFile</key>
		<string>WATERMELON.jpg</string>
		<key>imgName</key>
		<string>WATERMELON</string>
	</dict>
</array>
</plist>
