<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Coins</key>
		<string>300</string>
		<key>TowerTypes</key>
		<array>
			<string>cannontower</string>
			<string>bunker</string>
		</array>
		<key>Waves</key>
		<array>
			<array>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
			</array>
			<array>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
			</array>
			<array>
				<string>mrbear</string>
				<string>mrbear</string>
				<string>mrbear</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>Coins</key>
		<string>400</string>
		<key>TowerTypes</key>
		<array>
			<string>bunker</string>
			<string>cannontower</string>
		</array>
		<key>Waves</key>
		<array>
			<array>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
				<string>misspiggy</string>
			</array>
			<array>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
				<string>mrbabyrabbit</string>
			</array>
			<array>
				<string>mrbear</string>
				<string>mrbear</string>
				<string>mrbear</string>
			</array>
		</array>
	</dict>
</array>
</plist>
